<html>

<head>
</head>

<body>
    <h1>aquerydiff report v1</h1>
    <ul>
        <li>before file: <code>{{.BeforeFile}}</code></li>
        <li>after file: <code>{{.AfterFile}}</code></li>
    </ul>
</body>

</html>